html{
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 12px;
}

/* prevent outline after click */
a, li { 
    outline: none !important; 
}

/* section with description */
.sectionDescr{
    padding-bottom: 5vh;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: #222222;
}

/* styles for all sections */
#wrapper1, #wrapper2, #wrapper3, #wrapper4, #wrapper5 {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

/* 
first section - the cover :)
background set by vide plugin and js
*/
#wrapper1{
    background-repeat: no-repeat;
    background-color: rgba(3, 3, 3, 0.5); /* put some transparent mask on video bgr */
}

/* put some svg file at the bottom */
#triangle-bottom{
    position: relative;
    top: -50px;
}

/* FOOTER */
footer{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: darkgray;
    text-align: center;
}

footer img{
    margin: auto;
}

/* titles for sections */
.title{
    font-family: 'Work Sans', sans-serif;
    font-size: 15vmin;
    color: #1aa0d4;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    box-shadow: 0 0 5px black;
    background-color: #333333;
    margin-top: 15vh;
    margin-bottom: 5vh;
    line-height: 0.7;
}

h2{
    border-bottom: 1px #1aa0d4 solid;
}

@media (max-width: 767px) {
    
    /* navbar for small screens */
    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 30;
    }
    
    /* logo in navbar */
    #logoSmall img{
        width: 150px;
    }
    
    /* description */
    .sectionDescr{
        font-size: 1.5em;
    }
    
    /* sections */
    #wrapper1, #wrapper2, #wrapper3, #wrapper4, #wrapper5 {
        width: 100%;
        min-height: 400px;
        background-color: #ffffff ;
    }
}

/* bootsrap carousel */
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    margin: auto;
}
.carousel-indicators li {
    background-color: #1aa0d4;
}

/* bootstrap row */
.row {
    margin: 0;
}

/* bootstrap container with menu */
.container{    
    width: 100%;
}

/* positioning and style of auto-typed text */
#firstDiv {
    height: 90vh;
}
#type {
    height: 20vh;
    width: 300px;
    font-size: 1.5vh;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: justify;
    text-shadow:0px 0px 10px black;
    
}
del{text-decoration:none;}

