html{
    
    height: 100%;
    
}

body {
    
    min-height: 100%;
    
    
}
#wrapper {
    
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    
}

#wrapper2 {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

.sidebar-nav {
    
}

@media (min-width: 768px) {
        
    
.navbar-nav li, .navbar-header{
        
        float:none !important;
        width: 550px;
        font-size: 30px;
        
    }
}

.navbar {
    background: none !important;
    border: none !important;
}

.glyphicon-menu-right {
    float: right;
    margin-right: 200px;
}

.row {
    margin: 0 !important;
}
.dropdown-menu {
    position: relative !important;
    left: 100% !important;
}
